@import "@/styles/variables.scss";

.crumbsNav {
  display: flex;
  width: 100%;
  max-width: var(--content-max-width);
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  gap: 16px;
  padding-right: var(--content-padding);
  padding-left: var(--content-padding);
}

.crumbsItem {
  display: flex;
  font-size: 12px;
  color: var(--color-light-black);
}

.crumbsSlash {
  font-size: 12px;
}
