@import "@/styles/variables.scss";

.sectionContainer {
  width: 95%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem 2rem;
  background: var(--color-white);
  box-shadow: var(--box-shadow-primary);

  @include mq(md) {
    padding: 4rem;
  }
}

.sectionTitle {
  text-align: left;
  font-size: 38px;
  font-family: var(--font-primary);
  font-weight: bold;
}

.mainVisual {
  background: url("/img_recruit-fv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainVisual h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 0;
  color: var(--color-white);
}

.mainVisual h2 span {
  color: var(--color-white);
}

// Form style
.input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2rem;
}

.table {
  width: 100%;
  padding-top: 4rem;
  background: var(--color-white);
  line-height: 1.6785;
}

.table tr {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
  }
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;

  @include mq(md) {
    padding: 2.5rem 2.5rem 2.5rem 1rem;
  }
}

.table th {
  background: var(--color-gray);

  @include mq(md) {
    width: 35%;
    text-align: right;
    border-top: 1px solid rgb(28, 3, 3);
    background: none;
  }
}

.table td {
  @include mq(md) {
    width: 100%;
    border-top: 1px solid rgb(209, 199, 199);
  }
}

.table tr:last-child th {
  @include mq(md) {
    border-bottom: 1px solid rgb(28, 3, 3);
  }
}

.table tr:last-child td {
  @include mq(md) {
    border-bottom: 1px solid rgb(209, 199, 199);
  }
}

.privacyPolicy {
  font-size: 14px;
  margin-top: 1rem;

  @include mq(md) {
    font-size: 16px;
  }
}

.privacyPolicy a {
  text-decoration: underline;
}

.checkbox {
  margin-top: 1rem;
}

.button {
  margin-top: 3rem;
  text-align: center;
}

.input:required {
  position: relative;
  border-color: rgb(227, 73, 89);
  background: rgb(255, 233, 235);
}

.input:required + span::after {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 240px;
  height: 240px;
  content: " ＊必須 ";
  color: #f00;
}

.input:valid {
  border-color: rgb(209, 199, 199);
  background-color: initial;
}
