@import "@/styles/variables.scss";

.footer {
  font-size: 14px;
  line-height: 1.7;
  color: #fff;
  background: var(--color-dark-blue);
}

.footerContainer {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem 1rem;
}

.footerTitle {
  color: var(--color-white);
  text-align: left;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 700;
}

.footerContents {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mq(md) {
    align-items: start;
    flex-direction: row;
    gap: 0;
  }
}

.coInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include mq(md) {
    width: 50%;
  }
}

.footerLink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 6px;
  column-gap: 1rem;

  @include mq(md) {
    width: 50%;
    justify-content: flex-end;
    row-gap: 0;
  }
}

.footerLink a {
  transition: opacity 0.4s ease 0s;
}

.footerLink a:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease 0s;
}

.copyright {
  width: 100%;
  margin-top: 8px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
}

.inlineBlock {
  display: inline-block;
}
