@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import "@/styles/variables.scss";

:root {
  --content-width: 95%;
  --content-max-width: 1280px;
  --content-padding: 16px;

  // Color
  --color-light-black: rgba(0, 0, 0, 0.7);
  --color-white: rgb(255, 255, 255);
  --color-whiteSmoke: rgb(254, 252, 252);
  --color-gray: rgb(241, 239, 239);
  --color-dark-blue: rgb(11, 29, 62);
  --color-light-blue: rgb(6, 93, 147);
  --color-red: rgb(198, 16, 44);

  --box-shadow-primary: rgba(28, 3, 3, 0.13) 0px 2px 12px 0px;

  --font-primary: "Yu Gothic, Hiragino Kaku Gothic ProN, Meiryo, Arial,", sans-serif;
  --font-secondary: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  max-width: 100vw;
  line-height: 1.4;
  font-family: var(--font-primary);
}

body {
  color: var(--color-light-black);
  background: var(--color-whitesmoke);
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font-secondary);
  text-align: center;
  line-height: 1.1;
  color: var(--color-dark-blue);

  & span {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    font-family: var(--font-primary);
    color: var(--color-dark-blue);
  }
}

img {
  max-width: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

::selection {
  color: var(--color-whitesmoke);
  background-color: var(--color-dark-blue);
}
