@import "@/styles/variables.scss";

.heroContainer {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.heroImage {
  position: relative !important;
  height: 80vh !important;
  width: 100% !important;
  object-fit: cover;
  object-position: center bottom;
  margin-top: -0.8px;
}

.heroContents {
  position: relative;
  display: block;
  z-index: 890;
  width: 80%;
  max-width: 800px;
  margin-top: -120px;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5rem;
  text-align: center;
  background: var(--color-white);
  box-shadow: rgba(28, 3, 3, 0.13) 0px 2px 12px 0px;
}

.heroLogo {
  min-width: 70%;
  object-fit: contain;
  position: relative !important;
  width: auto !important;
}

.heroText {
  margin-top: 24px;
  font-size: 14px;

  @include mq(md) {
    font-size: 16px;
  }
}

.heroText span {
  display: inline-block;
}

.aboutButton {
  margin-top: 1.5rem;
  text-align: center;
}

// Works section
.worksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.worksItem {
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease 0s; // 通常状態へ戻る時もトランジションを適用
}

.worksItem:hover {
  box-shadow: rgba(28, 3, 3, 0.3) 0px 2px 20px 0px;
  transition: box-shadow 0.3s ease 0s;
}

.worksItem {
  @include mq(md) {
    width: calc(50% - 1.5rem);
  }
}

.worksTextContainer {
  padding: 1rem;
}

.worksTitle {
  height: 4rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

.worksDescription {
  height: 3rem;
  margin-top: 0.5rem;
}

.worksDate {
  margin-top: 0.5rem;
  font-size: 10px;
}

.moreButton {
  margin-top: 2rem;
  text-align: center;
}
