@import "@/styles/variables.scss";

.heroImage {
  position: relative !important;
  height: 80vh !important;
  width: 100% !important;
  margin-top: -1px;
  object-fit: cover;
  object-position: center bottom;
}

.heroContents {
  position: relative;
  display: block;
  z-index: 890;
  width: 80%;
  max-width: 800px;
  margin-top: -120px;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5rem;
  text-align: center;
  background: var(--color-white);
  box-shadow: rgba(28, 3, 3, 0.13) 0px 2px 12px 0px;
}

.heroText {
  margin-top: 24px;
  font-size: 14px;

  @include mq(md) {
    font-size: 16px;
  }
}

.heroText span {
  display: inline-block;
}

.aboutButton {
  margin-top: 1.5rem;
  text-align: center;
}

.moreButton {
  margin-top: 2rem;
  text-align: center;
}

// Works section
.worksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.worksItem {
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease 0s; // 通常状態へ戻る時もトランジションを適用
  @include mq(md) {
    width: calc(50% - 1.5rem);
  }
}

.worksItem:hover {
  box-shadow: rgba(28, 3, 3, 0.3) 0px 2px 20px 0px;
  transition: box-shadow 0.3s ease 0s;
}

.worksThumbnail {
  width: 100%;
  height: auto;
}

.worksTextContainer {
  padding: 1rem;
}

.worksTitle {
  height: 4rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

.worksDescription {
  height: 3rem;
  margin-top: 0.5rem;
}

.worksDate {
  margin-top: 0.5rem;
  font-size: 10px;
}
// News section
.newsSection {
  background: var(--color-gray);
}

.sectionContainer {
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.newsList {
  padding: 1.5rem;
  background: #fff;
}

.newsItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.newsItem + .newsItem {
  margin-top: 1rem;
}

.newsDate {
  display: inline-block;
  padding: 8px;
  font-size: 12px;
  color: #fff;
  background: var(--color-dark-blue);
}

.newsTitle {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

// Access section
.map {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.map iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  border: none;
}

// Info section
.infoSection {
  background: var(--color-gray);
}

.infoContents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  @include mq(md) {
    flex-direction: row;
  }
}

.coInfo,
.recruitInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 560px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #fff;
  background: var(--color-dark-blue);
  transition: transform 0.4s ease-in-out, background 0.4s ease-in-out;
}

.coInfo:hover,
.recruitInfo:hover {
  background: rgb(19, 49, 105);
  transform: translateY(-2px);
}
