@import "@/styles/variables.scss";

.sectionContainer {
  width: 95%;
  max-width: var(--content-max-width);
  margin-right: auto;
  margin-left: auto;
}

.mainVisual {
  background: url("/img_renovate-fv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainVisual h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 0;
  color: var(--color-white);
}

.mainVisual h2 span {
  color: var(--color-white);
}

.topMessage {
  text-align: left;
  font-size: 1.5rem;

  @include mq(md) {
    text-align: center;
  }
}

.topMessage span {
  @include mq(md) {
    display: inline-block;
  }
}

// Step section
.stepContainer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.summary {
  padding: 1.5rem;
  font-size: 14px;
  color: var(--color-white);
  background: var(--color-red);

  @include mq(md) {
    display: none;
  }
}

.summary span {
  display: block;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.summaryAnnounce {
  margin-top: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: var(--color-white);
  background: var(--color-red);
}

.summaryAnnounce span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 25px;
  font-weight: bold;
}

.stepList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mq(md) {
    flex-direction: row;
    gap: 1rem;
  }
}

.stepItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include mq(md) {
    width: calc((100% - 1rem * 2) / 3);
  }
}

.stepItem h4 {
  text-align: center;
  font-size: 19px;
}

.stepImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 8px solid rgb(28, 3, 3);
  border-radius: 50%;
}

.stepImage p {
  margin-top: 1.5rem;
  font-family: var(--font-secondary);
  font-size: 25px;
}

.stepText {
  padding: 0.5rem;
  font-size: 14px;
  background: var(--color-gray);

  @include mq(md) {
    font-size: 16px;
    background: transparent;
  }
}

.annotation {
  display: none;

  @include mq(md) {
    display: block;
    text-align: center;
    color: var(--color-red);
  }
}

.imgFree img {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.img1month img {
  display: none;
  width: 1280px;

  @include mq(md) {
    display: block;
  }
}

.imgApplication {
  display: none;

  @include mq(md) {
    display: flex;
  }
}

.imgApplication img {
  width: 100%;
  height: auto;
}

.imgApplication div > img {
  width: 426px;
}

.imgApplication div + div > img {
  width: 854px;
}
