@import "@/styles/variables.scss";

.sectionContainer {
  width: 95%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem 2rem;

  @include mq(md) {
    padding: 4rem;
  }
}

.title {
  font-size: 32px;
  text-align: center;
}

.text {
  margin-top: 1rem;
  text-align: center;
  font-size: 18px;
}
