@import "@/styles/variables.scss";

.sectionContainer {
  width: var(--content-width);
  max-width: var(--content-max-width);
  margin-right: auto;
  margin-left: auto;
}

.mainVisual {
  background: url("/img_works-fv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainVisual h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 0;
  color: var(--color-white);
}

.mainVisual h2 span {
  color: var(--color-white);
}

// Works section
.worksList {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.worksItem {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease 0s; // 通常状態へ戻る時もトランジションを適用

  @include mq(md) {
    width: calc(50% - 3rem);
  }

  @include mq(xl) {
    width: calc(33.33% - 1.5rem * 2);
  }
}

.worksItem:hover {
  box-shadow: rgba(28, 3, 3, 0.3) 0px 2px 20px 0px;
  transition: box-shadow 0.3s ease 0s;
}

.worksThumbnail {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.worksTextContainer {
  padding: 1rem;
}

.worksTitle {
  height: 4rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

.worksDescription {
  height: 3rem;
  margin-top: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 任意の行数を指定 */
}

.worksDate {
  margin-top: 0.5rem;
  font-size: 10px;
}
